.map-label {
  pointer-events: auto;
}

.map-label text {
  font-family:
    Inter,
    "Segoe UI",
    Arial,
    sans-serif;

  letter-spacing: -0.2px;
  transition: font-size 0.15s ease;

  fill: #111111 !important;
}

.map-label line {
  pointer-events: none;
  stroke: #111111 !important;
  opacity: 0.65;
}
